<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="pannel-title">
      Edit cart Form
    </h4>
  </div>
  <div class="panel-body">
    <form *ngIf="cartItem" (ngSubmit)="saveCartItem()" id="user-form">
      <div class="form-group">
        <label>Name</label>
        {{cartItem.name}}
      </div>
      <div class="form-group">
        <label for="lastName">Number of items</label>
        <input type="number"
               class="form-control"
               id="lastName" name="lastName"
               placeholder="0"
               [(ngModel)]="cartItem.numberInCart">
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        form="user-form">Save
      </button>
      <button class="btn btn-primary"
              type="button"
              (click)="goBack()">Back
      </button>
    </form>
  </div>
</div>
