<div id="cart">
  <div *ngIf="productsInCart != null && productsInCart.length > 0">
    Cart:
    <div *ngFor="let cartItem of productsInCart">
      <cart-item
        [productQuantity]="cartItem.quantity"
        [productName]="cartItem.product.name"
        (onDeleteCartItem)="deleteCartItem($event, cartItem.product.name)" #myVar
      ></cart-item>
    </div>
    Items in cart: {{ totalItemsInCart }}. Total price: {{ totalPrice }}.
    <button (click)="onBuy()">Buy</button>
    <button (click)="onResetCart()">Reset Cart</button>
  </div>
</div>
