<div class="panel panel-default">
  <div class="panel-heading"><b><a routerLink="/product/{{product.id}}" >{{product.name}}</a></b></div>
	<div class="panel-body">
		<ul>
			<li>Price: {{product.price}}</li>
      <li>In stock: {{product.itemsInStock}}</li>
      <li>Description: {{product.description}}</li>
		</ul>
    <button (click)="addToCart()"
            [ngClass]="{'buttonInactive': product.itemsInStock <= 0}"
            [disabled]="product.itemsInStock <= 0">
      Add to Cart
    </button>
	</div>
</div>
