<h3>Admin</h3>
<nav>
  <ul class="nav nav-tabs">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="./" queryParamsHandling="preserve" preserveFragment>Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="./products" queryParamsHandling="preserve" preserveFragment>Manage products</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="./orders" queryParamsHandling="preserve" preserveFragment>Manage orders</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
